
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap'); /*font-family: 'Inconsolata', monospace;*/

h1, h2, h3, p{
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: Black;
}

#main{
  background-color: white;
}

img{
  margin: auto;
  display: block;
  **Align center:**
<p align="center" width="100%">
    <img width="33%" src="https://i.stack.imgur.com/RJj4x.png">
</p>
}

body{
  background-color: black;
  width: 75%;
  margin: auto;
}
