@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

h1{
  text-align: center;
  font-family: 'Inconsolata', monospace;
}
h2{ 
  text-align: center ;
  font-family: 'Inconsolata', monospace;
}
h3{ 
  text-align: center ;
  font-family: 'Inconsolata', monospace;
}
{body bgcolor="#800000"
}
